@import url('https://fonts.googleapis.com/css?family=Open Sans');
@import url('https://fonts.googleapis.com/css?family=PT Sans');
html,
body {
    font-family: 'Open Sans', 'PT Sans', sans-serif;
}

.demo-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.demo-avatar-big {
    width: 100px;
    height: 100px;
    border-radius: 24px;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
}

.mdl-layout__drawer .avatar {
    margin-bottom: 16px;
}

.demo-drawer {
    border: none;
}


/* iOS Safari specific workaround */

.demo-drawer .mdl-menu__container {
    z-index: -1;
}

.demo-drawer .demo-navigation {
    z-index: -2;
}


/* END iOS Safari specific workaround */

.demo-drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.demo-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}

.demo-avatar-dropdown {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.demo-navigation {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.demo-layout .demo-navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}

.demo-layout .demo-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F;
}

.demo-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}

.demo-content {
    max-width: 1080px;
}

.demo-charts {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.demo-chart:nth-child(1) {
    color: #ACEC00;
}

.demo-chart:nth-child(2) {
    color: #00BBD6;
}

.demo-chart:nth-child(3) {
    color: #BA65C9;
}

.demo-chart:nth-child(4) {
    color: #EF3C79;
}

.demo-graphs {
    padding: 16px 32px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}


/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */

_:-ms-input-placeholder,
:root .demo-graphs {
    min-height: 664px;
}

_:-ms-input-placeholder,
:root .demo-graph {
    max-height: 300px;
}


/* TODO end */

.demo-graph:nth-child(1) {
    color: #00b9d8;
}

.demo-graph:nth-child(2) {
    color: #d9006e;
}

.demo-cards {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.demo-cards .demo-separator {
    height: 32px;
}

.demo-cards .mdl-card__title.mdl-card__title {
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin: 10px 10px 10px 10px;
}

.demo-cards ul {
    padding: 0;
}

.demo-cards h3 {
    font-size: 1em;
}

.demo-updates .mdl-card__title {
    min-height: 200px;
    background-image: url('images/dog.png');
    background-position: 90% 100%;
    background-repeat: no-repeat;
    margin: 10px 10px 10px 10px;
}

.demo-cards .mdl-card__actions a {
    margin: 10px 10px 10px 10px;
    color: #00BCD4;
    text-decoration: none;
}

.demo-options h3 {
    margin: 0;
}

.demo-options .mdl-checkbox__box-outline {
    border-color: rgba(255, 255, 255, 0.89);
}

.demo-options ul {
    margin: 0;
    list-style-type: none;
}

.demo-options li {
    margin: 4px 0;
}

.demo-options .material-icons {
    color: rgba(255, 255, 255, 0.89);
}

.demo-options .mdl-card__actions {
    height: 64px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 10px 10px 10px;
    box-sizing: border-box;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.details {
    font-size: 1.2em;
    font-family: "Open Sans";
    font-style: bold;
    color: #37474F;
    line-height: 0.05;
}


/* #main-content{
    background-color: lightgray;
} */

@media only screen and (min-width: 840px) {
    #main-content {
        transform: translateY(15%);
    }
}

@media only screen and (max-width: 840px) {
    #main-content {
        transform: translateY(10%);
    }
}

.list-items {
    padding-bottom: 3px;
}

#courses-list {
    max-height: 200px;
    overflow-y: scroll;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #888;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: sans-serif;
}


/* ------------------------------------ */

a {
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}


/* ------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
    font: 'Open Sans';
    margin: 0px;
}

p {
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}


/* ------------------------------------ */

input {
    display: block;
    outline: none;
    border: none !important;
}

textarea {
    display: block;
    outline: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}


/* ------------------------------------ */

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utiliti ]*/


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
    width: 100%;
}

.container-table100 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.wrap-table100 {
    padding-top: 50px;
    width: 1170px;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    position: center;
}

table * {
    position: relative;
}

table td,
table th {
    padding-left: 8px;
}

table thead tr {
    height: 60px;
    background: #36304a;
}

table tbody tr {
    height: 50px;
}

table tbody tr:last-child {
    wrap-table border: 0;
}

table td,
table th {
    text-align: left;
}

table td.l,
table th.l {
    text-align: right;
}

table td.c,
table th.c {
    text-align: center;
}

table td.r,
table th.r {
    text-align: center;
}

.table100-head th {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
}

.column1 {
    width: 260px;
    padding-left: 40px;
}

.column2 {
    width: 160px;
}

.column3 {
    width: 245px;
}

.column4 {
    width: 110px;
    text-align: right;
}

.column5 {
    width: 170px;
    text-align: right;
}

.column6 {
    width: 222px;
    text-align: right;
    padding-right: 62px;
}

@media screen and (max-width: 992px) {
    table {
        display: block;
    }
    table>*,
    table tr,
    table td,
    table th {
        display: block;
    }
    table thead {
        display: none;
    }
    table tbody tr {
        height: auto;
        padding: 37px 0;
    }
    table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px;
    }
    table tbody tr td:last-child {
        margin-bottom: 0;
    }
    table tbody tr td:before {
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: #999999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0;
    }
    table tbody tr td:nth-child(1):before {
        content: "Date";
    }
    table tbody tr td:nth-child(2):before {
        content: "Order ID";
    }
    table tbody tr td:nth-child(3):before {
        content: "Name";
    }
    table tbody tr td:nth-child(4):before {
        content: "Price";
    }
    table tbody tr td:nth-child(5):before {
        content: "Quantity";
    }
    table tbody tr td:nth-child(6):before {
        content: "Total";
    }
    .column4,
    .column5,
    .column6 {
        text-align: left;
    }
    .column4,
    .column5,
    .column6,
    .column1,
    .column2,
    .column3 {
        width: 100%;
    }
    tbody tr {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (min-width: 840px) {
    #main-content {
        transform: translateY(15%);
    }
}

@media only screen and (max-width: 840px) {
    #main-content {
        transform: translateY(10%);
    }
}

html,
body {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
}

.demo-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.demo-avatar-big {
    width: 100px;
    height: 100px;
    border-radius: 24px;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
}

.mdl-layout__drawer .avatar {
    margin-bottom: 16px;
}

.demo-drawer {
    border: none;
}


/* iOS Safari specific workaround */

.demo-drawer .mdl-menu__container {
    z-index: -1;
}

.demo-drawer .demo-navigation {
    z-index: -2;
}


/* END iOS Safari specific workaround */

.demo-drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.demo-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}

.demo-avatar-dropdown {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.demo-navigation {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.demo-layout .demo-navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}

.demo-layout .demo-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F;
}

.demo-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}

.demo-content {
    max-width: 1080px;
}

.demo-charts {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.demo-chart:nth-child(1) {
    color: #ACEC00;
}

.demo-chart:nth-child(2) {
    color: #00BBD6;
}

.demo-chart:nth-child(3) {
    color: #BA65C9;
}

.demo-chart:nth-child(4) {
    color: #EF3C79;
}

.demo-graphs {
    padding: 16px 32px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}


/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */

_:-ms-input-placeholder,
:root .demo-graphs {
    min-height: 664px;
}

_:-ms-input-placeholder,
:root .demo-graph {
    max-height: 300px;
}


/* TODO end */

.demo-graph:nth-child(1) {
    color: #00b9d8;
}

.demo-graph:nth-child(2) {
    color: #d9006e;
}

.demo-cards {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.demo-cards .demo-separator {
    height: 32px;
}

.demo-cards .mdl-card__title.mdl-card__title {
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin: 10px 10px 10px 10px;
}

.demo-cards ul {
    padding: 0;
}

.demo-cards h3 {
    font-size: 1em;
}

.demo-updates .mdl-card__title {
    min-height: 200px;
    background-image: url('images/dog.png');
    background-position: 90% 100%;
    background-repeat: no-repeat;
    margin: 10px 10px 10px 10px;
}

.demo-cards .mdl-card__actions a {
    color: #00BCD4;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
}

.demo-options h3 {
    margin: 0;
}

.demo-options .mdl-checkbox__box-outline {
    border-color: rgba(255, 255, 255, 0.89);
}

.demo-options ul {
    margin: 0;
    list-style-type: none;
}

.demo-options li {
    margin: 4px 0;
}

.demo-options .material-icons {
    color: rgba(255, 255, 255, 0.89);
}

.demo-options .mdl-card__actions {
    height: 64px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 10px 10px 10px;
    box-sizing: border-box;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.details {
    font-size: 1.2em;
    font-family: "Open Sans";
    font-style: bold;
    color: #37474F;
    line-height: 0.05;
}


/* #main-content{
    background-color: lightgray;
} */

@media only screen and (min-width: 840px) {
    #main-content {
        transform: translateY(15%);
    }
}

@media only screen and (max-width: 840px) {
    #main-content {
        transform: translateY(10%);
    }
}

.list-items {
    padding-bottom: 3px;
}

#courses-list {
    max-height: 200px;
    overflow-y: scroll;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #888;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}