<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Material Design Lite</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="../images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="../images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="../css/feedback_style.css">
    <link rel="icon" type="image/png" href="../images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../css/util.css">
    <link rel="stylesheet" type="text/css" href="../css/feedback_main.css">
    <link rel="stylesheet" type="text/css" href="../css/admin_add_faculty_style.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <style>
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
    </style>
</head>

<body>

    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-database.js"></script>
    <script type="text/javascript" src="../scripts/login.js"></script>


    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyA7btuFwwl79MAD8f12iLHF2kQkvB1PRbA",
            authDomain: "express-first-app.firebaseapp.com",
            databaseURL: "https://express-first-app.firebaseio.com",
            projectId: "express-first-app",
            storageBucket: "express-first-app.appspot.com",
            messagingSenderId: "748619368002",
            appId: "1:748619368002:web:581e19ab33253b6d9c0fdb",
            measurementId: "G-ZHQRD4KGLC"
        };
        firebase.initializeApp(firebaseConfig);
    </script>

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
            <header class="demo-drawer-header">
                <img src="../images/user.jpg" class="demo-avatar">
                <div class="demo-avatar-dropdown">
                    <div class="mdl-layout-spacer"></div>
                </div>
            </header>
            <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
                <a class="mdl-navigation__link"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
                <a class="mdl-navigation__link" onclick="onClickAddStudent()"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">person_add</i>Add Student</a>
                <a class="mdl-navigation__link"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">person_add</i>Add Faculty</a>
                <a class="mdl-navigation__link" href="admin_add_course.html"><i class="mdl-color-text--blue-grey-400 material-icons"
                        role="presentation">note_add</i>Add
                    Course</a>
                <a class="mdl-navigation__link" onclick="onClickAllocateCourse()"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">assignment</i>Allocate Course</a>
                <a class="mdl-navigation__link" onclick="onClickSendUpdates()"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">announcement</i>Send Update</a>
                <a class="mdl-navigation__link" onclick="onClickSignOut()"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">cancel</i>Sign Out</a>
            </nav>
        </div>

        <main class="mdl-layout__content mdl-color--grey-100">
            <div class="container">
                <form>
                    <div class="row">
                        <h6 class="contact100-form-title">Add Faculty</h6>
                        <h6> Basic Details</h6>
                        <div class="input-group input-group-icon">
                            <input type="text" placeholder="Full Name" />
                            <div class="input-icon"><i class="fa fa-user"></i></div>
                        </div>
                        <div class="input-group input-group-icon">
                            <input type="email" placeholder="Email Adress" />
                            <div class="input-icon"><i class="fa fa-envelope"></i></div>
                        </div>
                        <div class="input-group">
                            <input type="text" placeholder="Mobile Number" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-half">
                            <h6>Gender</h6>
                            <div class="input-group">
                                <input type="radio" name="gender" value="male" id="gender-male" />
                                <label for="gender-male">Male</label>
                                <input type="radio" name="gender" value="female" id="gender-female" />
                                <label for="gender-female">Female</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6>Other Details</h6>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" placeholder="Address" />
                            </div>
                        </div>
                    </div>
                    <div class="col-third">
                        <input onclick="window.location.href = '';" type="button" class="fadeIn fourth" value="Add Faculty">
                    </div>
                    <h6>.</h6>
                </form>
            </div>
        </main>


    </div>

    <script>
        function onClickAddStudent() {
            window.open("admin-add-student", "_top");
        }

        function onClickAddFacultyButton() {
            let name = document.getElementById("full-name").value;
            let email = document.getElementById("email").value;
            let address = document.getElementById("address").value;
            let phoneNumber = document.getElementById("phone-number").value;
            let gender;
            if (document.getElementById("gender-male").checked) {
                gender = "Male";
            } else if (document.getElementById("gender-female").checked) {
                gender = "Female";
            }

            let facultyDetails = {
                name: name,
                email: email,
                address: address,
                phoneNumber: phoneNumber,
                gender: gender
            };

            registerNewFaculty(facultyDetails);
        }

        function registerNewFaculty(facultyDetails) {

            const COLLEGE_NAME = "IIITA";
            const CURRENT_YEAR = "2019";
            const dbReference = firebase.database().ref(COLLEGE_NAME);

            console.log("Registering new faculty...");

            const email = facultyDetails.email;

            const username = email.substring(0, email.indexOf("@"));
            const password = username + "iiita";

            firebase.auth().createUserWithEmailAndPassword(email, password)
                .then(function(userRecord) {
                    dbReference.child("faculties").child(username).set(facultyDetails, error => {
                        if (!error) {
                            alert(`Registered Faculty: ${email} Password: ${password}`);
                        } else {
                            alert(error);
                        }
                    });
                }).catch(function(error) {
                    alert(error);
                });
        }

        function onClickAllocateCourse() {
            window.open("admin-allocate-course", "_top");
        }

        function onClickSendUpdates() {
            window.open("admin-send-updates", "_top");
        }

        function onClickSignOut() {
            window.open("login", "_top");
        }
    </script>

    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>